.panel {
    .commit,
    .day {
        clear: both;
        width: 100%;
        line-height: 2em;
    }

    .day {
        background: $flat-green-sea;
    }

    .commit .time {
        margin: 0 .5em;
    }

    .day span {
        margin: 0 .5em;
    }

    .commit .time,
    .commit .author {
        float: left;
    }

    .commit .time {
        width: 80px;
    }
}

.commit-count {
    float: right;
}

.date {
    flex: 4 0 auto;
}

.reset {
    font-size: smaller;
    color: $flat-silver;
    float: right;

    a {
        color: $flat-silver;
    }
}

.background.bar {
    fill: $flat-green-sea;
}

.foreground.bar {
    fill: $flat-carrot;
}

.brush {
    rect.extent {
        fill: $flat-carrot;
        fill-opacity: .125;
    }

    .resize path {
        fill: $flat-clouds;
        stroke: $flat-asbestos;
    }
}

.user-info {
    cursor: pointer;
    float: left;
    clear: both;
    width: 100%;
    line-height: 2em;
    padding: 2px 5px;
    margin: -2px -5px;

    &:hover {
        background: $flat-pumpkin;
    }

    &.selected {
        background: $flat-carrot;
    }
}

.title {
    color: $flat-green-sea;
}

.toplist {
    color: $flat-concrete;

    .name {
        color: white;
    }

    .index {
        width: 24px;
        text-align: right;
        display: inline-block;
    }
}

.move-icon {
    float: right;
    color: $flat-orange-1;

    &.fa {
        line-height: 2em;
    }

    &.up {
        color: $flat-green-1;
    }

    &.down {
        color: $flat-red-1;
    }
}

.avatars-area {
    height: 130px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;

    .first,
    .second,
    .third {
        background: $flat-midnight-blue;
        margin: .5em;
        border-radius: .5em;

        img {
            width: 100%;
            height: 100%;
            border-radius: .5em;
            //image-rendering: pixelated;
        }
    }

    .first {
        width: 120px;
        height: 120px;
        order: 2;
    }

    .second {
        width: 80px;
        height: 80px;
        order: 1;
    }

    .third {
        width: 60px;
        height: 60px;
        order: 3;
    }
}