@import "flat-colors";

$gray-base:              #000 !default;
$gray-darker:            #272B30 !default; // #222
$gray-dark:              #3A3F44 !default;   // #333
$gray:                   #52575C !default; // #555
$gray-light:             #7A8288 !default;   // #999
$gray-lighter:           #999 !default; // #eee

$brand-primary:         $gray-light !default;
$brand-success:         #62c462 !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f89406 !default;
$brand-danger:          #ee5f5b !default;