.kiosk-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .accolade {
        max-width: 50%;
        background: $flat-wet-asphalt;
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
        //border: 5px solid $flat-midnight-blue;
        border-radius: 20px;
        overflow: hidden;
        padding: 30px;
        line-height: 1.4em;
        color: $flat-clouds;

        hr {
            color: $flat-midnight-blue;
            background-color: $flat-midnight-blue;
            height: 2px;
            border: 0;
            float: left;
            width: 100%;
            margin: 1em 0;
        }

        .badge {
            width: 100px;
            height: 100px;
            line-height: 100px;
            align-items: center;
            float: left;
            padding: 0px 20px 0px 0px;

            img {
                vertical-align: middle;
                width: 100%;
                //height: 100%;
            }
        }

        .title {
            font-size: 2em;
            line-height: 1.2em;
            color: white;
        }

        .subtitle {
            font-size: 1em;
            color: $flat-orange;
        }

        .description {
            font-size: 0.8em;
            margin-top: 0.4em;
        }

        .awarded-to {
            float: left;
            width: 100%;
        }

        .avatar {
            width: 32px;
            height: 32px;
            line-height: 32px;
            float: left;
            margin-right: 1em;

            img {
                vertical-align: middle;
                width: 100%;
                //height: 100%;
            }
        }

        .label {
            float: left;
            color: $flat-concrete;
            line-height: 32px;

            .username {
                color: white;
            }

            .date {
                color: $flat-silver;
            }
        }
    }
}