/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: $flat-wisteria;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px $flat-wisteria, 0 0 5px $flat-wisteria;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: $flat-wisteria;
    border-left-color: $flat-wisteria;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.kiosk-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .accolade {
        max-width: 50%;
        background: $flat-wet-asphalt;
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
        //border: 5px solid $flat-midnight-blue;
        border-radius: 20px;
        overflow: hidden;
        padding: 30px;
        line-height: 1.4em;
        color: $flat-clouds;

        hr {
            color: $flat-midnight-blue;
            background-color: $flat-midnight-blue;
            height: 2px;
            border: 0;
            float: left;
            width: 100%;
            margin: 1em 0;
        }

        .badge {
            width: 100px;
            height: 100px;
            line-height: 100px;
            align-items: center;
            float: left;
            padding: 0px 20px 0px 0px;

            img {
                vertical-align: middle;
                width: 100%;
                border-radius: 50%;
                //height: 100%;
            }
        }

        .title {
            font-size: 2em;
            line-height: 1.2em;
            color: white;
        }

        .subtitle {
            font-size: 1em;
            color: $flat-orange;
        }

        .description {
            font-size: 0.8em;
            margin-top: 0.4em;
        }

        .awarded-to {
            float: left;
            width: 100%;
        }

        .avatar {
            width: 64px;
            height: 64px;
            line-height: 64px;
            float: left;
            margin-right: 1em;

            img {
                vertical-align: middle;
                width: 100%;
                //image-rendering: pixelated;
                //height: 100%;
            }
        }

        .label {
            float: left;
            color: $flat-concrete;
            line-height: 64px;

            .username {
                color: white;
            }

            .date {
                color: $flat-silver;
            }
        }
    }
}